h1 {
    font-family: 'Courgette', cursive;

}

h2 {
    font-family: 'Courgette', cursive;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 2em 2em;
}

.in-progress {

}

.in-progress__image {
    margin-bottom: 1em;
    margin-right: 1em;
    max-width: 100%;
}

.link-contact{

}

