.gallery-wrapper {}

.gallery {
    /*
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    */
}

.gallery:after {
    /*
  content: '';
  flex-grow: 1;
  */
}

.gallery img {
    border: 1px solid white;
    margin-bottom: 15px;
    margin-right: 15px;
    height: 120px;
}

.gallery>* {
    height: 120px;
}

@media only screen and (min-width: 650px) {
    .gallery img {
        height: 120px;
    }
    .gallery>* {
        height: 120px;
    }
}

@media only screen and (min-width: 768px) {
    .gallery img {
        height: 120px;
    }
    .gallery>* {
        height: 120px;
    }
}

@media only screen and (min-width: 1140px) {
    .gallery img {
        height: 120px;
    }
    .gallery>* {
        height: 120px;
    }
}
