body {
    position: relative;
}

.image-container {
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-image: url('../img/index_background.jpg');
}
