---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="Seite nicht gefunden">
  <div>
    <h1>Seite nicht gefunden!</h1>
    <p>Diese Seite existiert leider nicht.</p>
    <p><a href="/">Zur Homepage</a></p>
  </div>
</BaseLayout>
