---
import BaseLayout from "../layouts/BaseLayout.astro"
import HeaderImage from "../components/HeaderImage.astro"
import Gallery from "../components/Gallery.astro"
import { getEntry, render } from "astro:content"
import headerImg from "../img/garten_header.jpg"

const page = await getEntry("pages", "garten")
const { Content } = await render(page)

const aside = await getEntry("sections", "garten-aside")
const { Content: AsideContent } = await render(aside)
---

<BaseLayout title={page.data.seoTitle}>
  <div>
    <HeaderImage src={headerImg} position="50% 63%" />
    <div class="main-container">
      <div class="main wrapper clearfix">
        <article>
          <header>
            <h1 class="heading">{page.data.title}</h1>
          </header>
          <Content />
        </article>
        <aside>
          <h2>{aside.data.title}</h2>
          <AsideContent />
        </aside>
      </div>
    </div>
    <Gallery folder="garten" />
  </div>
</BaseLayout>
