---
import BaseLayout from "../layouts/BaseLayout.astro"
import HeaderImage from "../components/HeaderImage.astro"
import { getEntry, render } from "astro:content"

const page = await getEntry("pages", "impressum")
const { Content } = await render(page)

import dtvLogo from "../img/dtv_4sterne.jpg"
---

<BaseLayout title={page.data.seoTitle}>
  <div>
    <HeaderImage page="impressum" />
    <div class="main-container">
      <div class="main wrapper clearfix">
        <article>
          <header>
            <h2>{page.data.title}</h2>
            <Content />
          </header>
        </article>
        <aside style="background: red; padding: 0;">
          <img src={dtvLogo.src} width="100%" alt="DTV-4-Sterne-Logo" />
        </aside>
      </div>
    </div>
  </div>
</BaseLayout>
