on:
    pull_request:
name: Pull_Request
jobs:
    buildWebsite:
        name: Build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                  node-version: "22.x"
            - run: npm ci
            - run: npm run build
