on:
    push:
        branches:
            - master
name: Build and Deploy
jobs:
    deployWebsite:
        name: Build and Deploy
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: "22.x"
            - run: npm ci
            - run: npm run build
            - name: FTP deploy
              uses: SamKirkland/FTP-Deploy-Action@v4.3.6
              with:
                  server: ${{ secrets.FTP_SERVER }}
                  username: ${{ secrets.FTP_USERNAME }}
                  password: ${{ secrets.FTP_PASSWORD }}
                  local-dir: dist/
                  server-dir: ${{ secrets.REMOTE_DIR }}
                  dangerous-clean-slate: true
